@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling Scrollbar agar senada dengan Dark Mode */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #030712; 
}

::-webkit-scrollbar-thumb {
    background: #374151; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4b5563; 
}
